img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 2%;
  color: $base-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
  }
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: $light-grey;
}

.page__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100vh;
  background-color: $base-white;
  width: 320px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba($base-white, 0.8);

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

