#no-uislider.noUi-horizontal {
  height: 4px;
  background: $light-grey;
}

#no-uislider.noUi-target {
  border: none;
  border-radius: 0;
}

#no-uislider .noUi-connect {
  background: $base-primary;
  box-shadow: none;
}

#no-uislider .noUi-handle {
  height: 24px;
  width: 24px;
  top: -10px;
  right: -9px; /* half the width */
  border: 2px solid $base-primary;
  background-color: $base-white;
  border-radius: 50%;

  &::after,
  &::before {
    display: none;
  }
}

.filters__range {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.filters__range .filters__title {
  margin-bottom: 30px;
}

.filters__range-wrapper {
  display: flex;
  justify-content: space-between;
}

.range__field {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 118px;
  height: 40px;
  margin: 0;
  border-radius: 4px;
  border: 2px solid $base-primary;
  background: $base-white;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.range__value {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

input[type="number"] {
  appearance: textfield;
}

.range__field:first-of-type {
  position: relative;

  &::after {
    position: absolute;
    content: "–";
    right: -30px;
    margin-top: 5px;
    color: $base-grey;

    @media (min-width: $tablet-width) {
      right: -33px;
    }
  }
}
