.goods__sort {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -5px;
    margin-bottom: 28px;
  }
}

.goods-sort__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.goods-sort__label {
  display: block;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }
}

.goods-sort__options {
  display: block;
  max-width: 152px;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: $base-primary;
  background: transparent;
  border: none;
}

.goods-sort__option {
  background: $base-white;
  padding: 0;
  border: none;
  cursor: pointer;
}
