.page-footer {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr min-content;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    grid-template-columns: 320px 1fr;
    column-gap: 20px;
  }
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 20px;
  padding-top: 32px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding: 0;
  }
}

.page-footer__bottom {
  min-height: 70px;
  padding: 18px 20px;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 86px;
    padding-top: 28px;
    margin-right: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
    grid-column: 1 / -1;
  }
}
